#jobTitle {
  margin-top: 10px;
}

table {
  border: 1px solid black;
  border-radius: 2rem;
  border-collapse: collapse;
}

table td {
  border: 1px black solid;
  border-spacing: 0;
  min-width: 100px;

  padding: 2px;
}

.word {
  cursor: pointer;

  height: 24px;
}

.word-selected {
  --tw-text-opacity: 1;
  /*color: rgb(240 156 86 / var(--tw-text-opacity));*/
  background: #55c946bb;
}

.word-unselected {
  color: black;
  background-color: #f09c5680;
}

.animate-ping-custom {
  animation: ping-custom 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping-custom {
  75%,
  100% {
    opacity: 0;
  }
}

#generated-search {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
}

.selected-word {
  margin: 4px;
  cursor: pointer;
}

.operator {
  margin: 4px;
  cursor: pointer;
}

/*.search-word {
  --tw-text-opacity: 1;
  color: rgb(240 156 86 / var(--tw-text-opacity));
  background: #00f5a3;
}*/

/*.operator {
  --tw-text-opacity: 1;
  color: rgb(240 156 86 / var(--tw-text-opacity));
  background: #8bf500;
}*/