#jobTitle {
  margin-top: 10px;
}

table {
  border: 1px solid black;
  border-radius: 2rem;
  border-collapse: collapse;
}

table td {
  border: 1px black solid;
  border-spacing: 0;
  min-width: 100px;

  padding: 2px;
}

.word {
  cursor: pointer;
}

.word-selected {
  background-color: #6d4806b3;
  --tw-text-opacity: 1;
  color: rgb(245 207 133 / var(--tw-text-opacity));
}

.word-unselected {
  --tw-text-opacity: 1;
  color: rgb(109 72 6 / var(--tw-text-opacity));
  background-color: #f5cf8599;
}

.animate-ping-custom {
  animation: ping-custom 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping-custom {
  75%,
  100% {
    opacity: 0;
  }
}
